---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside>
                        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ 132kV V-Route condition assessment for Iberdrola and Scottish Power }}</h3>

                    <p>Lead designer and project manager for the V Route condition assessment.
                    Responsibilities include as-built and re-construction overhead line design,
                    PL4 tower modelling, foundation analysis, geotechnical investigations and
                    quantified risk analysis (QRA). The project comprises basics of environmental
                    impact assessment and traffic management.</p>
                    </aside>

                    <h3 class="title">275kV Foyer-Knognagael, Farigaig substation tie-inn for SSE</h3>
                    <p>Lead Engineer and Project manager on all electrical, civil and structural design
                    documents and drawings provided by the CDM contractor. Responsibilities include
                    construction plans and schedule of works, stringing procedures in respect
                    of their compliance to internal SSE procedures and specifications,
                    relevant industry codes and standards, and Health and Safety regulations.</p>

                    Mid&North Wales Wind Farms connections scheme for Iberdrola SP
                    Project manager and Lead Engineer for design and engineering support for
                    planning approval, a development consent order (DCO), development, routing
                     and design of 100km of new 132kV overhead line which includes trident,
                     heavy duty wooden poles and L7 lattice towers.

                    400kV Sellindge–Dungeness overhead line refurbishment, National Grid –
                    Owners Engineer on a preliminary design review for line refurbishment
                    and construction of new towers as part of National Grid’s TP500 processes.

                    220kV Akhaltsikhe-Batumi OHL, Georgia for AGL, GEG
                    Lead engineer responsible for parametric and insulation coordination
                    studies including lightning performance, tower outline, insulators
                    specification and OHL parameters optimisation. Assisted in overhead line
                    routing study and developed scope of works, cost estimate, preliminary line
                    design and tender documentation for construction of new 110kV and 220kV lines
                    from the newly constructed hydropower stations rated at 175MW to 300MW.

                    220kV Devoll HydroPower project, Statkraft, Albania – As owner’s engineer for Statkraft for their Devoll HydroPower project in Albania, carried out a design review of 220kV overhead lines. Provided the design review and site support to the site team and issued design compliance certificates. Responsible for reviewing all design documentation provided by the appointed designer.

                    275/400kV Route uprating for Barking Power Ltd – Desktop analysis of an identified 400kV cable and overhead route, with the studies focused on a constraining point on the crossing of the Thames Gateway Development site. Provided a feasibility analysis of the existing 275kV transmission line to determine if the circuit could be uprated to transport the entire generating capacity of Barking Power Station up to a maximum export capacity of 1.8 GW.  This involved upgrading existing conductors, voltage uprating and other possible options on potential route uprating.

                    Wylfa 400kV Cable crossing, UK National Grid – Project manager and cable engineer (mechanical and electrical aspects) for the feasibility study of a 400kV cable crossing through the Menai Strait and Britannia Bridge. Responsible for the conceptual design, options development, pre-engineering and completion of feasibility studies including cost benchmarking.

                    NorthConnect HVDC interconnector (Scotland–Norway) for North Connect – HVDC cable engineer for a proposed link between Norway and Scotland, UK. Consulting on mechanical and electrical engineering aspects for cable installations over 600km through the North Sea.

                    Sliven 9 MW PV Plant project for Solar R1/EVN Bulgaria – Technical due diligence review for a proposed grid connection. Economic assessment Grid Connection Agreement and Power Purchase Agreement.

                    Ostar Kamak PV Plant Project for Solar EOOD / EVN Bulgaria – Technical due diligence review, including a grid connection offer, construction costs and mitigating grid connection challenges. Full compliance with utility company standards.

                    UK Power Networks, Increased Capacity from Existing Overhead line routes – Transmission line engineer responsible for 33/132kV distribution lines feasibility, engineering studies and evaluation of design options.

                    National Grid, UK, Overhead Lines Alliance West (EAW) – Design assurance undertaken for 275 and 400kV overhead line refurbishment schemes carried out by EAW on behalf of National Grid.


                    FEED and Electricity Alliance West for National Grid
                    Design tasks on numerous schemes involving substation and overhead line works, uprating and re-conductoring, tower repositioning, clearance studies, members utilisation reports on existing 275/400kV transmission Lines. Scheme development:
                    ‒	Alverdiscott-Indian Queens
                    ‒	Stalybridge to Woodhead
                    ‒	Ryhall FEED
                    ‒	Dudgeon Offshore Wind Farm connection FEED

                    Treuddyn-Trawsfynydd and Harker-Hutton-Quernmore, 400kV Reconductoring Schemes for National Grid – Both schemes were carried out within the Electricity Alliance West framework agreement. The scope was to replace conductors, earthwires, insulators and fittings on the routes. The structural capacity of the towers and foundations were assessed.
                    Sarawak Energy Berhad 500kV Backbone Project – Tower spotting, line optimisation, profiling for 192km of 500kV and 52km of 275kV overhead line using PLS CADD. Preparation of technical specifications for tender documentation: conductors, OPGW and network equipment, live monitoring equipment, insulation coordination. Electro-magnetic studies and investigations. Supporting documentation: BoQ, schedules and EPC tendering for 500kV Similajau – Tada Overhead Transmission line.

                    Transmission line reconstruction and design development for VSEP, Vologda, Russia. 30km 110kV, double circuit overhead line Centralnaya 1,2. Part of the Vologda Gas Power Plant extension and network accession project.

                    Transmission line reconstruction and on-site monitoring for Kuzbassenergo, Russia. Assessment of feasibility (design and constructability) of 25km 110kV, double circuit overhead line ZSMK-Kuzneckaya. Development of project design documents under joint implementation requirements.

                    Reconstruction project and construction monitoring for Irkutskenergo, Russia. The option appraisal looked at the positive and negative impacts of replacing the existing 35km 110kV line IGES-Kirovskaya. Alterations studies. Development of project design documents under joint implementation requirements. On-site monitoring and as-designed compliance.

                    Reconstruction project, Confidential client, Kasakhstan. Assessment of feasibility and design of 30km 110kV, double circuit overhead line 149A, CAPEX/OPEX analysis. Development of project design documents under joint implementation requirements.

                    Reconstruction project and construction monitoring. Confidential client, Russia. Assessment of feasibility of 15km 110kV, double circuit overhead line TTEC-Granichnaya/TEC13-Dolina. Preparing material specifications, CAPEX/OPEX analysis, technical studies for refurbishment in sensitive areas, bill of quantities and cost estimates.

                    Reconstruction project and for Permenergo, Russia. Assessment of feasibility (design and constructability) of 30km 110kV, double circuit overhead line S/S Perm-TEC6. Project design development. Preparing bill of materials, assessment, technical studies, cost estimates. Conductor tests test developed to investigate potential failures due to impropriate installation procedures.



                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
