---
layout: page
title: Projects
---



<section class="list">
    <h3> Financial Projects. 2016 - onwards</h3>
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                </a>

                    Market Analysis, Project Financing Group <aside>May, 18</aside>
                    <p> Qualitative research for developments in Battery Energy
                    Storage Solutions. Comparative analysis of valuation approaches,
                    specifically focusing on synergy from co-locations with
                    renewable energy generation.</p><br>

                    Contract for Confidential<aside>Oct,17-March,18</aside>
                    <p> Support for backend development of the financial risks
                        management software, specifying approach to risk
                        modelling, contributing risk model library, descriptive
                        analytics on performance measurement and attribution.</p><br>

                    Data Analysis, Udacity <aside>March, 18</aside>
                    <p> Research on co-dependence structure of Central Banks’s monetary
                    policies with multiple economic indicators, such as foreign investments,
                    debt servicing cost, trade and other factors.</p><br>

                    Portfolio Management, Spearhead Capital Partners <aside>May-Aug, 17</aside>
                    <p> Managed an ETF/FX portfolio on mandate on strategic and tactical levels.
                        Supported quantitative analysis including benchmark decomposition,
                        portfolio strategy, Black-Litterman and Treynor-Black and optimisation,
                        selection criteria, ex-ante and ex-post performance attribution and risk management.
                        Crosschecks and advanced analysis performed with Bloomberg and TR Eikon.</p><br>

                    Capstone Project, UoS <aside>Sept, 17</aside>
                    <p> Developed risk-adjusted income-based valuation models
                    for renewable power plants, encompassing non-parametric methods
                    in multi-level wind and energy generation forecasting,
                    risk-based derivatives hedging, and transaction structuring including
                    equity and debt structuring with conventional and
                    participatory bonds.</p><br>

                    Commodity Supply Contracts Valuation, Ørsted / Dong Energy <aside>April,17</aside>
                <p> Developed structural PDE / stochastic jump-diffusion
                    mean-reversion forecasting models WITH seasonality, storage and
                    other latent exogenous factors specific for the
                    commodities spot price. This was used for valuation
                    of commodities supply, both for individual and portfolio
                    of supply contracts, storage contracts,
                    and construction of an optimised
                    hedge programme using derivative contracts forwards,
                    traditional and asian options.  </p><br>

                    Capstone Project, UoS <aside>March,17</aside>
                    <p> Created and Analysed Market Risk Models for Equity and ETF portfolios,
                    administering data Management, Risk Factor Modelling, Back Testing,
                    Scenario and push stress-tests. Produced Risk Mitigation Strategies.</p><br>

                    {% endif %}
                {% endfor %}
            </section>
            <br>

            <section class="list">
                <h3> Power and Utilities Projects. 2008-2016</h3>
                {% for post in site.posts %}
                    {% if post.projects %}
                        <div class="item {% if post.star %}star{% endif %}">
                            <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                            </a>

                    132kV Owners Engineer for SSE
                    <p>Owners Engineer for EPC due dillignce / technical assurance
                        of 132kV-275kV distribution network reconstruction
                        Beauly Knocknagael Farr Tomatin. </p><br>

                    132kV EPC due dilligence for NEPCO, Jordan <aside>Sept,15</aside>
                    <p> Lead engineer and project manager for due diligence
                     of £6mil EPC contract for 132kV network refurbishment.
                    </p><br>

                    132kV V-Route for Iberdrola and Scottish Power
                    <aside>May,15</aside>
                    <p> Lead engineer and project manager for the 132kV network
                    operational assessment. Conceptual approach, finite element analysis in
                    civil, geotech and structural domains. Quantified
                    risk analysis (QRA) for security of supply challanging investment decision.
                    </p><br>

                    275kV netwrok due-dillignece / technical assurance for SSE
                    <p>
                    Owners Engineer for 275kV onshore 40km onshore wind power plant
                    connection and transmission network: Foyer-Knognagael, Farigaig tie-inn.</p><br>

                    Mid&North Wales Wind Farms connections scheme for Iberdrola SP
                    <p>Project manager and Lead Engineer for concept design,
                    development and engineering support for 100km of 132kV power plant connections.
                    Routing study optimisation, utility representation, and
                    design of 100km of new 132kV overhead line which including
                    bespoke desing.</p><br>

                    Due dillignece for Electricity Alliance (EAW) and National Grid.
                    <p>Led and executed due dillignece and technical assurance
                    for 275 and 400kV transmission network, over 20 projects completed
                    within five years period.</p><br>

                    400kV network reconstruction for National Grid.
                    <p>Owners Engineer on a preliminary design review for
                    400kV Sellindge–Dungeness transmission network.</p><br>

                    220kV network concept for AGL and GEG, Georgia
                    <p>Lead electrical engineer responsible for
                        for construction of new transmission
                        network from the newly constructed hydropower stations.
                    Concept development, parametric study, system integration analysis,
                    system coordination, lightning performance, tower outline,
                    and other parameters optimisation.
                    Routing study, cost estimate, EPC tendering support. </p><br>

                    220kV Devoll HydroPower project, Statkraft, Albania
                    <p>Owners engineer for Statkraft for their Devoll HydroPower
                         project in Albania, carried out a design review of
                         220kV transmission network. Responsible for reviewing all
                         design documentation provided by the appointed designer.</p><br>

                    275/400kV Route uprating for Barking Power Ltd
                    <p>Conceptual desktop analysis of a 400kV cable and
                    overhead network, focusing on enabling a connection from
                    a new power generation unit of Barking Power Station
                    up to a maximum export capacity of 1.8 GW. Feasibility
                    analysis of various connection options.</p><br>

                    Wylfa 400kV Cable crossing, UK National Grid
                    <p>Project manager and cable engineer for the feasibility
                    study of a 400kV cable crossing across the Menai Strait and
                    Britannia Bridge. Conceptual design, options development,
                    pre-engineering and cost benchmarking.</p><br>

                    NorthConnect HVDC interconnector (Scotland–Norway) for North Connect
                    <p>HVDC cable engineer for a proposed link between Norway
                    and Scotland, UK. Mechanical and electrical engineering
                    for cable installations over 600km through the North Sea.</p><br>

                    Due dillignce for Solar R1/EVN Bulgaria
                    <p>Complete due dilligence of 9MW Sliven PV Plant.
                    Power Purchase Agreement (PPA) and  economic assessment for grid connection.</p><br>

                    Due dilligence for Solar EOOD / EVN Bulgaria
                    <p>Technical due diligence, including grid connection offer,
                    construction costs and mitigating grid connection challenges
                    for Ostar Kamak PV Plant Project.</p><br>

                    Increased Network Capacity Study for UK Power Networks.
                    <p>Lead Engineer responsible for 33/132kV distribution lines feasibility,
                    engineering studies and evaluation of design options to increase .</p><br>

                    275/400kV network design for National Grid, UK
                    <p>Design tasks on numerous schemes involving substation and overhead
                    line works, uprating and re-conductoring, routing study,
                    repositioning, utilisation reports on existing

                    replace conductors, earthwires, insulators and fittings
                    on the routes. The structural capacity of the towers
                    and foundations were assessed

                    . Scheme development:
                    ‒	Alverdiscott-Indian Queens
                    ‒	Stalybridge to Woodhead
                    ‒	Ryhall FEED
                    ‒	Dudgeon Offshore Wind Farm connection FEED
                    -   Treuddyn-Trawsfynydd
                    -   Harker-Hutton-Quernmore </p><br>

                    500kV network design for Sarawak Energy, Malasiya
                    <p>Routing study, routing optimisation, profiling for
                        192km of 500kV and 52km of 275kV overhead line using
                        PLS CADD. Preparation of technical specifications for
                        tender documentation: conductors, OPGW and network
                        equipment, live monitoring equipment, insulation
                        coordination. Electro-magnetic studies and investigations.
                        Supporting documentation: BoQ, schedules and EPC
                        tendering for 500kV Similajau – Tada Overhead
                        Transmission line.</p><br>

                    110kV network development for VSEP, Russia.
                    <p>External consultant, technology advisor for the Vologda
                    Gas Power Plant extension and network accession project.</p><br>

                    110kV network development, Owners Engineer for Kuzbassenergo, Russia.
                    <p>Feasibility study of the existing transmission network 110kV
                    ZSMK-Kuzneckaya, including concept studies, investment analysis,
                    development, design.</p><br>

                    Reconstruction project and construction monitoring for Irkutskenergo, Russia.
                    <p>The option appraisal looked at the positive and
                        negative impacts of replacing the existing 35km 110kV line
                         IGES-Kirovskaya. Alterations studies. Development of
                         project design documents under joint implementation
                         requirements. On-site monitoring and as-designed
                         compliance.</p><br>

                    Reconstruction project, Confidential client, Kasakhstan.
                    <p>Assessment of feasibility and design of 30km 110kV,
                        double circuit overhead line 149A, CAPEX/OPEX analysis.
                         Development of project design documents under
                         joint implementation requirements.</p><br>

                    Reconstruction project and construction monitoring. Confidential client, Russia.
                    <p>Assessment of feasibility of 15km 110kV, double
                        circuit overhead line TTEC-Granichnaya/TEC13-Dolina.
                        Preparing material specifications, CAPEX/OPEX analysis,
                        technical studies for refurbishment in sensitive areas,
                        bill of quantities and cost estimates.</p><br>

                    Reconstruction project and for Permenergo, Russia.
                    <p>Assessment of feasibility (design and constructability) of 30km 110kV, double circuit overhead line S/S Perm-TEC6. Project design development. Preparing bill of materials, assessment, technical studies, cost estimates. Conductor tests test developed to investigate potential failures due to impropriate installation procedures.</p>

        {% endif %}
    {% endfor %}
</section>
